{%extends 'clubpage.html'%}
{%block clubmainpage%}
<div id="menus" class="clubcontent">
    <a class="items" onclick="showAbout();" href="#">About</a>
    <a class="items" onclick="showEvent();" href="#">Events</a>
    <a class="items" onclick="showUpEve();" href="#">Upcoming Events</a>
</div>
<div id="contents">
    <h1 id="ClubName">{{clublist.name}}</h1> 
    <div  class="clubcontent" id="about">
        <h1 id="ClubName">{{clublist.name}}</h1>   
        <p>
            {%for p in clublist.about%}
            {{p}}<br><br>
            {%endfor%}
        </p>
    </div>
    {%if user.is_authenticated and not user.is_superuser and clublist.recruiting%}
    <div style="text-align: center;">
        <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Actively recruiting</a>
    </div>
    {%elif user.is_authenticated and user.is_superuser and clublist.recruiting%}
    <div style="text-align: center;">
        <a href="{%url 'svceClubMgmtApp:enable_actively_recruit' clublist.name%}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Stop Recruitment</a>
    </div>
    {%elif user.is_authenticated and user.is_superuser and not clublist.recruiting%}
    <div style="text-align: center;">
        <a href="{%url 'svceClubMgmtApp:disable_actively_recruit' clublist.name%}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Recruit</a>
    </div>
    {%endif%}
    <div class="clubcontent" id="event">
        <h3>Past Events</h3>
        {%if clublist.name == "ACE"%}
        <div id="aceevents">
            <div class="container">
                    <div class="row">
                    <div><h6><a href="#">INAUGRATION</a></h6></div>
                        <div><p>ACE Team is euphoric 🎉 in announcing its Inauguration Ceremony for this academic year 2021-22</p></div> 
                    </div>
            </div>
        </div>
        {%elif clublist.name == "ACM"%}
        <div id="acmevents">
            <div class="container">
                <div class="row">
                    <div><h6><a href="#">THE MISSING SEMESTER</a></h6></div>
                    <div><p>The Missing Semester was a hands-on workshop conducted by SVCE ACM Student Chapter on the 17th and 18th of October</p></div>
                </div>
            </div>
        </div>
        {%elif clublist.name == "FORESE"%}
        <div id="foreseevents">
            <div><h6><a href="#">FORED</a></h6></div>
            <div><p>For our students who are willing to add more feathers to their caps and are looking to go abroad to pursue higher 
                education, we organize an annual ForED fair in the odd semester</p></div>
        </div>
        {%endif%}
    </div>
    <div class="clubcontent" id="upevents">
        <h3>Upcoming Events</h3>
        <div class="container eventcontainer">
            {%if clublist.name == "ACE"%}
            <div id="aceevent">
                <div class="eventlist">
                    <div><h6><a href="#">INTERRUPT</a></h6></div>
                    <div><p>Interrupt is the National-level Technical Symposium hosted by ACE annually</p></div>
                </div>
            </div>
            {%elif clublist.name == "ACM"%}
            <div id="acmevent">
                <div class="eventlist">
                    <div><h6><a href="#">RAPID FIRE</a></h6></div>
                    <div><p>Rapid fire was a problem-solving contest conducted by SVCE ACMW Student Chapter for women from all years and 
                    departments of our college</p></div>
                </div>
                
            </div>
            {%elif clublist.name == "FORESE"%}
            <div id="foreseevent">
                <div class="eventlist">
                    <div><h6><a href="#">MOCK PLACEMENTS</a></h6></div>
                    <div><p>The Mock Placements is FORESE's flagship event. This annual Preparatory event is set up exclusively for pre-final 
                        year students from all departments</p></div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
{%endblock%}