{%extends 'base.html'%}
{%load static%}
{%block index%}
<style>
    #clublist{
        margin: auto;
        padding: 4rem 1rem;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container{
        width: 20rem;
        height: 26.5rem;
        background-color: white;
        min-width: 15rem;
        margin: 1rem;
        background: #FFFFFF;
        box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.158);
        border-radius: 4px;   
    }
    .container a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .imgContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 0rem;

    }
    .imgContainer img{
        width: 90%;
    }
    .clubname p {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 3px;
        color: black;
    }
</style>
<ul id="clublist">
    {%for club in clublist%}
    <li class="club">
        <div class="container">
            <a href="club/{{club.name}}">
                <div class="imgContainer">
                    <img
                        src='/static/{{club.logo_url}}'
                        alt="">
                </div>
                <div class="clubname">
                    <p>{{club.name}}</p>
                </div>
            </a>
        </div>
    </li>
    {%endfor%}
</ul>
{%endblock%}