{%extends 'base.html'%}
{%block postingpage%}
<style>
    #registernow{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 70%;
        height: 50%;
    }
    #registernowbtn{
        width: fit-content;
        margin: auto;
        margin-bottom: 50px;
    }
</style>
{%if not user.is_superuser%}
        <div id="registernow">
            {%if clublist.name == "ACE" and clublist.recruiting%}
            <div id="acereg">
                <div>
                    <h4>Requirements</h4>
                    <p><strong>&emsp;Prerequisite:</strong>
                        <ol>
                        <li>no backlogs</li>
                        <li>cgpa>8</li>
                        <li>suitable profile for the post</li>
                        <li>A candidate is selected based on questions answered followed by an interview. The interview will be panelled by the office
                        bearers
                        as well as the faculty in charge.</li></ol></p>
                        <h4>Posting Available:</h4>
                            <ul>
                                <li><strong>Vice President</strong> &emsp;(For Final years)</li>
                                <li><strong>Secretary</strong>&emsp;(For Pre Final years</li>
                                <li><strong>Treasurer</strong>&emsp;(For Pre Final years)</li>
                                <li><strong>Joint-Secretary</strong>&emsp;(For Sophomore)</li>
                                <li><strong>Senior Executive Member</strong>&emsp;(For Sophomore)</li>
                                <li><strong>Executive Member</strong>&emsp;(For Sophomore)</li>
                            </ul>
                        <h5>Post Description:</h5>
                            <ul>
                                <li><strong>Vice President</strong>
                                    <p>&emsp;&emsp; A person who manages the entire crew of the club as well as the events that are conducted.A Vice President's duties as a social club officer are similar to that of the President's duties.
                                    Presides at meetings in the absence of the president.
                                    <ul>
                                    <li>Plans, coordinates, and recruits committees to manage a series of meetings and programs</li>
                                    <li>Coordinates programs with the president and the executive committee</li>
                                    <li>Provides timely and interesting advance information for newsletters and mailings</li>
                                    <li>Provides or coordinates information on forthcoming events to the secretary for inclusion in meeting notices, newsletters
                                    or electronic distribution lists.</li></ul></p>
                                </li>
                                <li><strong>Secretary</strong>
                                    <p>&emsp;&emsp; A person who is part of the office of the club who works over the events that are conducted.
                                        It is important to note that although the Secretary ensures that these responsibilities are met, much of the work may be
                                        delegated to paid staff or volunteers.
                                        <ul>
                                            <li>Prepare the agenda for club/group meetings in consultation with the Chairperson.</li>
                                             <li>Make arrangements including venue, date, times and hospitality for club meetings.</li>
                                            <li>Send adequate notice of the meetings.</li>
                                            <li>Collect and collate reports from office bearers.</li>
                                            <li>Take the minutes of meetings.</li>
                                            <li>Write up the minutes as soon as possible after the meeting.</li>
                                        </ul>
                                    </p>
                                </li>
                                <li><strong>Treasurer</strong>
                                    <p>&emsp;&emsp; A person who looks after the funds that are involved in the club 
                                        The Treasurer is responsible for the managing the flow of money into the club and for allocating and recording how that
                                        money is spent to run the club.The treasurer also works in conjunction with the chairperson in planning the development
                                        of the club.
                                    </p>
                                </li>
                                <li><strong>Joint-Secretary</strong>
                                    <p>&emsp;&emsp;A person who works with the secretary in all aspects of the club.Ensuring the smooth functioning of the club by giving enough support to the board.</p>
                                </li>
                                <li><strong>Senior Executive Member</strong>
                                    <p>&emsp;&emsp; A person who takes care of the day to day tasks.Collaborates with other members of the executive committee and board of directors to create and execute exciting,
                                    interesting events for the club constituency.Works closely with secretary and Excecutive members to promote upcoming events</p>
                                </li>
                                <li><strong>Executive Member</strong>
                                    <p>&emsp;&emsp; A person who volunteers in the events that are organized.Publicizes club activities through email, social media and the club website.</p>
                                </li>
                            </ul>
                </div>
            </div>
            {%elif clublist.name == "ACM" and clublist.recruiting%}
            <div id="acmreg">
                <h4>Requirements</h4>
                <div>
                    
                    <p><strong>&emsp;Prerequisite:</strong>
                    <ol>
                        <li>no backlogs</li>
                        <li>cgpa>8</li>
                        <li>suitable profile for the post</li>
                        <li>Should have coding knowledge</li>
                        <li>A candidate is selected based on questions answered followed by an interview. The
                            interview will be panelled by the office
                            bearers as well as the faculty in charge.</li>
                    </ol>
                    </p>
                    <h4>Posting Available:</h4>
                    <ul>
                        <li><strong>Vice Chair</strong> &emsp;(For Final years)</li>
                        <li><strong>Secretary</strong>&emsp;(For Pre Final years</li>
                        <li><strong>Treasurer</strong>&emsp;(For Pre Final years)</li>
                        <li><strong>Member Chair</strong>&emsp;(For Pre Final years)</li>
                        <li><strong>Creative And Marketing Lead</strong>&emsp;(For Sophomores)</li>
                        <li><strong>Web Master</strong>&emsp;(For Pre Final years and Sophomores)</li>
                        <li><strong>Senior Executive Member</strong>(For Pre Final years and Sophomores)</li>
                    </ul>
                    <h5>Post Description:</h5>
                    <ul>
                        <li><strong>Vice Chair</strong>
                            <p>&emsp;&emsp; A person who manages the entire crew of the club as well as the events
                                that are conducted.A Vice President's duties as a social club officer are similar to
                                that of the President's duties.
                                Presides at meetings in the absence of the president.
                            <ul>
                                <li>Plans, coordinates, and recruits committees to manage a series of meetings and
                                    programs</li>
                                <li>Coordinates programs with the president and the executive committee</li>
                                <li>Provides timely and interesting advance information for newsletters and mailings
                                </li>
                                <li>Provides or coordinates information on forthcoming events to the secretary for
                                    inclusion in meeting notices, newsletters
                                    or electronic distribution lists.</li>
                            </ul>
                            </p>
                        </li>
                        <li><strong>Secretary</strong>
                            <p>&emsp;&emsp; A person who is part of the office of the club who works over the events
                                that are conducted.
                                It is important to note that although the Secretary ensures that these
                                responsibilities are met, much of the work may be
                                delegated to paid staff or volunteers.
                            <ul>
                                <li>Prepare the agenda for club/group meetings in consultation with the Chairperson.
                                </li>
                                <li>Make arrangements including venue, date, times and hospitality for club
                                    meetings.</li>
                                <li>Send adequate notice of the meetings.</li>
                                <li>Collect and collate reports from office bearers.</li>
                                <li>Take the minutes of meetings.</li>
                                <li>Write up the minutes as soon as possible after the meeting.</li>
                            </ul>
                            </p>
                        </li>
                        <li><strong>Treasurer</strong>
                            <p>&emsp;&emsp; A person who looks after the funds that are involved in the club
                                The Treasurer is responsible for the managing the flow of money into the club and
                                for allocating and recording how that
                                money is spent to run the club.The treasurer also works in conjunction with the
                                chairperson in planning the development
                                of the club.
                            </p>
                        </li>
                        <li><strong>Member Chair</strong>
                            <p>&emsp;&emsp;A person who works with the secretary in all aspects of the club.Ensuring
                                the smooth functioning of the club by giving enough support to the board.</p>
                        </li>
                        <li><strong>Creative and Marketing Lead</strong>
                            <p>&emsp;&emsp; A person who takes care of the day to day tasks.Collaborates with other
                                members of the executive committee and board of directors to create and execute
                                exciting,interesting events for the club constituency.Works closely with secretary and
                                Excecutive members to promote upcoming events.Also takes care of the Marketing of the club</p>
                        </li>
                        <li><strong>Web Master</strong>
                            <p>&emsp;&emsp; Finds ways to use technology to improve organization's operations (e.g., communications and outreach).Develops and
                            maintains club website and social media sites;</p>
                        </li>
                        <li><strong>Senior Executive Member</strong>
                            <p>&emsp;&emsp; A person who volunteers in the events that are organized.Publicizes club
                                activities through email, social media and the club website.Also get Coordinated with the Executive Members.</p>
                        </li>
                        <li><strong>Executive Member</strong>
                            <p>&emsp;&emsp; A person who volunteers in the events that are organized.Publicizes club
                                activities through email, social media and the club website.</p>
                        </li>
                    </ul>
                    <!--requirement-->
                </div>
            </div>
            {%elif clublist.name == "FORESE" and clublist.recruiting%}
            <div id="forse">
                <div>
                    <h3>Recruiment Details</h3>
                        <p><strong>&emsp;Prerequisite:</strong>
                        <ol>
                            <li>no backlogs</li>
                            <li>cgpa>8</li>
                            <li>suitable profile for the post</li>
                            <li>Should have coding knowledge</li>
                            <li>A candidate is selected based on questions answered followed by an interview. The
                                interview will be panelled by the office
                                bearers as well as the faculty in charge.</li>
                        </ol>
                        </p>
                        <h4>Posting Available:</h4>
                        <ul>
                            <li><strong>Vice President</strong> &emsp;(For Final years)</li>
                            <li><strong>General Secretary</strong>&emsp;(For Pre Final years</li>
                            <li><strong>Excecutive Director</strong>&emsp;(For Pre Final years)</li>
                            <li><strong>Tech Head</strong>&emsp;(For Sophomore)</li>
                            <li><strong>Senior Member</strong>&emsp;(For Sophomore)</li>
                            <li><strong>Member</strong>&emsp;(For Sophomore)</li>
                        </ul>
                        <h5>Post Description:</h5>
                        <ul>
                            <li><strong>Vice President</strong>
                                <p>&emsp;&emsp; A person who manages the entire crew of the club as well as the events
                                    that are conducted.A Vice President's duties as a social club officer are similar to
                                    that of the President's duties.
                                    Presides at meetings in the absence of the president.
                                <ul>
                                    <li>Plans, coordinates, and recruits committees to manage a series of meetings and
                                        programs</li>
                                    <li>Coordinates programs with the president and the executive committee</li>
                                    <li>Provides timely and interesting advance information for newsletters and mailings
                                    </li>
                                    <li>Provides or coordinates information on forthcoming events to the secretary for
                                        inclusion in meeting notices, newsletters
                                        or electronic distribution lists.</li>
                                </ul>
                                </p>
                            </li>
                            <li><strong>General Secretary</strong>
                                <p>&emsp;&emsp; A person who is part of the office of the club who works over the events
                                    that are conducted.
                                    It is important to note that although the Secretary ensures that these
                                    responsibilities are met, much of the work may be
                                    delegated to paid staff or volunteers.
                                <ul>
                                    <li>Prepare the agenda for club/group meetings in consultation with the Chairperson.
                                    </li>
                                    <li>Make arrangements including venue, date, times and hospitality for club
                                        meetings.</li>
                                    <li>Send adequate notice of the meetings.</li>
                                    <li>Collect and collate reports from office bearers.</li>
                                    <li>Take the minutes of meetings.</li>
                                    <li>Write up the minutes as soon as possible after the meeting.</li>
                                </ul>
                                </p>
                            </li>
                            <li><strong>Tech Head</strong>
                                <p>&emsp;&emsp; A person who takes care of the technical content for all event that is conducted in the club.
                                    Also helps Senior member and member working for the event.
                                </p>
                            </li>
                        
                            <li><strong>Senior Member</strong>
                                <p>&emsp;&emsp; A person who takes care of the day to day tasks.Collaborates with other
                                    members of the executive committee and board of directors to create and execute
                                    exciting,
                                    interesting events for the club constituency.Works closely with secretary and
                                    Excecutive members to promote upcoming events</p>
                            </li>
                            <li><strong>Member</strong>
                                <p>&emsp;&emsp; A person who volunteers in the events that are organized.Publicizes club
                                    activities through email, social media and the club website.</p>
                            </li>
                        </ul>
                </div>
            </div>            
            {%else%}
            <div class="container">
                <h1>Recruitment not yet started</h1>
            </div>
            {%endif%}
            <div id="registernowbtn">
                <a class="btn btn-primary" href="{%url 'svceClubMgmtApp:recruit' clublist.name%}" role="button">Register now</a>
            </div>
        </div>
        {%endif%}
    </div> 
{%endblock%}